* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

.blue {
  width: 350px;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}

.yellow {
  background-color: #ffa506;
}

.gray {
  background-color: #dedede;
}

.block {
  padding: 10px;
  border: 1px solid #e75551;
}
